* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* btn Filtros */
.BTNF{
  border-radius: 10px;
}

/* Textos turno */
h2{
  font-weight: bold;
  margin-bottom: 30px;
}

/* Animate */

[data-anime] {
  opacity: 0;
  transition: .3s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}
[data-anime="right"] {
  transform: translate3d(-50px, 0, 0);
}
[data-anime="down"] {
  transform: translate3d(0, 50px, 0);
}
[data-anime="top"] {
  transform: translate3d(0, -50px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/* Cards */

.card{ 
  box-shadow:  3px 3px gray;
}

.cardM{ 
  box-shadow:  3px 3px hsla(214, 50%, 60%, 0);
}

.cardT{ 
  box-shadow:  3px 3px hsla(26, 50%, 60%, 0);
}

.cardN{ 
  box-shadow:  3px 3px hsla(131, 32%, 20%, 0);
}


/* Link NIT */
.linkNIT{
  color: #FE5722FF;
}

.linkNIT:hover{
  color: rgba(232, 114, 23, 0.755);
}

/* Boto carrossel */
.btn-light{
  margin-bottom: 5px;
}

/* Carrosel li */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.carousel-indicators .active{
  background-color: #FE5722FF;
}

/* Mapas */
.tab-pane{
  font-size: large;
}


/* Tabela */
th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}


/* Listas */
ul.footer-links{
  font-size: large;
}
ul.b {
  font-size: large;
  list-style-type: disc;
}

/* hr */
.hr3 {
  border: 0;
  height: 2px;
  margin-top: 0%;
  background-image: linear-gradient(to right, transparent, #FE5722FF, transparent);  
}

.hr4{
  border: 0;
  height: 2px;
  background-color: #FE5722FF;
}

.Qp{
  border: 0;
  height: 1px;
  margin-top: 0%;
  background-image: linear-gradient(to right, transparent, #FE5722FF, transparent);  
}

.F{
  border: 0;
  height: 1px;
  margin-top: 0%;
  background-image: linear-gradient(to right, transparent, #FE5722FF, transparent);  
}

.tec{
  border: 0;
  height: 2px;
  margin-top: 0%;
  background-image: linear-gradient(to right, transparent, #091db325, transparent);  
}

.periodoM{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #142c6a, transparent);  
}

.periodoT{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #7b3709, transparent);  
}

.periodoN{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #234429, transparent);  
}

.hr4NIT {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #FE5722FF, #FE5722FF, transparent);  
}

.hr4NIT2 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #FE5722FF, transparent, transparent);  
}

.hr4F {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #FE5722FF, rgba(248, 214, 203, 0.822), #FE5722FF);  
}

.hr4F1 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #FE5722FF, #FE5722FF, #FE5722FF);  
}

.LinkNit {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #FE5722FF, transparent);  
}

.hr4M {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #CCC, transparent, transparent);  
}

.hr5 {
 width: 30%;
 border: solid;
 color: #FE5722FF;
 border-radius: 10px;
}

.hrPER {
  width: 30%;
  border: solid;
  color: #FE5722FF;
  border-radius: 10px;
  margin-top: 0%;
 }

 .NIT {
  width: 31%;
  border: solid;
  color: #FE5722FF;
  border-radius: 10px;
  margin-top: 0%;
 }

 .estru {
  width: 100%;
  border: solid;
  color: #FE5722FF;
  border-radius: 10px;
  margin-top: 0%;
 }

.hrPER1 {
  width: 45%;
  border: solid;
  color: #FE5722FF;
  border-radius: 10px;
  margin-top: 0%;
 }

.hrPER2{
  width: 40%;
  border: solid;
  color: #FE5722FF;
  border-radius: 10px;
  margin-top: 0%;
 }

.hrPER3{
  width: 35%;
  border: solid;
  color: #FE5722FF;
  border-radius: 10px;
  margin-top: 0%;
 }

.hrPER4{
  width: 51%;
  border: solid;
  color: #FE5722FF;
  border-radius: 10px;
  margin-top: 0%;
 }

.hrPER5{
  width: 29%;
  border: solid;
  color: #FE5722FF;
  border-radius: 10px;
  margin-top: 0%;
 }

 .hrPER6{
  width: 20%;
  border: solid;
  color: #FE5722FF;
  border-radius: 10px;
  margin-top: 0%;
 }

.hr5r {
 width: 80%;
 border: solid;
 color: #FE5722FF;
 border-radius: 10px;
 box-shadow: 2px 2px 2px gray;
}

.hr5u {
 width: 30%;
 border: solid;
 color: #FE5722FF;
 border-radius: 10px;
}

.hr5P {
 margin-top: 0%;
 width: 32%;
 border: solid;
 color: #FE5722FF;
 border-radius: 10px;
}

.hr5E {
 margin-top: 0%;
 width: 35%;
 border: solid;
 color: #FE5722FF;
 border-radius: 10px;
 box-shadow: 2px 2px 2px gray;
}

.hr5Ri {
 margin-top: 0%;
 width: 83%;
 border: solid;
 color: #FE5722FF;
 border-radius: 10px;
 box-shadow: 2px 2px 2px gray;
}

.hr5c {
 margin-top: 0%;
 width: 58%;
 border: solid;
 color: #FE5722FF;
 border-radius: 10px;
}

.hr5cer {
 margin-top: 0%;
 width: 40%;
 border: solid;
 color: #FE5722FF;
 border-radius: 10px;
}

.hr5Per {
  margin-top: 0%;
  width: 45%;
  border: solid;
  color: #FE5722FF;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
 }

/* A:houver */
.ahouver{
  color: #FE5722FF;
}

.ahouver:hover{
  color: blue;
}

/* Botoes */
.btn-danger{
  background-color: rgb(202, 83, 47);
}

.btn-danger:hover{
  background-color: #fe5722;
}
 
/* Textos */

p{
  font-size: large;
}

.card-text{
  color: rgb(85, 85, 85);
}
 
/*Iframe - Ajuste*/
@media only screen and (min-width: 1210px) {
  .map-small {
    display: none;
  }
  .map-big {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
}
@media only screen and (min-width: 750px) {
  .display2{
    display: block;
  }
  .display{
    display: none;
  }

  .grande{
    display: none;
  }
  .pequeno{
    display: block;
  }
}

@media only screen and (max-width: 1210px) {
  .map-big {
    display: none;
  }
  .map-small {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 750px) {
  .display2{
    display: none;
  }
  .display{
    display: block;
  }
  .grande{
    display: block;
  }
  .pequeno{
    display: none;
  }
}
#mapf {
  padding-top: 7px;
}
.overflow-hidden {
  max-height: 400px;
}


.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #fe5722;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #FE5722FF;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #FE5722FF;;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b58988c;
}
.social-icons a.Instagram:hover {
  background-color: #ec55c7a9;
}
.social-icons a.Youtube:hover {
  background-color: #e92c2cbb;
}
.social-icons img {
  height: 20px;
  width: auto;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
#img-pdf {
  font-size: 27px;
}
/* Import de fonte */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/*Filtros*/
.card-deck {
  max-width: 120%;
  min-width: 90%;
}
.card {
  color: black;
}
.filterDiv {
  float: left;
  background-color: rgb(241, 241, 241);
  color: black;
  width: auto;
  text-align: center;
  margin: 4px;
  display: none;
}

.show {
  display: block;
}

.filtercontainer {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.filterbtn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.filterbtn:hover {
  background-color: #ddd;
}

.filterbtn.active {
  background-color: #666;
  color: white;
}
#contNIT {
  margin-top: 30px;
  letter-spacing: 1.2px;
  line-height: 1.8;
  word-spacing: 8px;
}
#contNIT p {
  font-size: 20px;
}
