
  /* Botoes curso houver */

  .bhouver {
    background-color: #fe5722;
    box-shadow: rgba(75, 75, 75, 0.25) 0px 4px 8px, rgba(75, 75, 75, 0.22) 0px 5px 5px;
  }

  .bhouver:hover {
    background-color: rgb(169, 55, 21);
    box-shadow: rgba(75, 75, 75, 0.25) 0px 4px 8px, rgba(75, 75, 75, 0.22) 0px 5px 5px;
  }

  @media only screen and (max-width: 750px) {
    .img-small {
      width: 88%;
    }
  }

  @media only screen and (min-width: 750px) {
    .img-small {
      width: 45%;
    }
  }

  @media only screen and (max-width: 750px) {
    .imgR-small {
      margin-top: 2%;
      width: 80%;
    }
  }

  @media only screen and (min-width: 750px) {
    .imgR-small {
      width: 40%;
    }
  }

  /* textos */

  .collapsibleCurso {
    font-size: large;
  }

  h2 {
    margin-bottom: 5px;
  }

  h4 {
    margin-bottom: 0px;
  }