  /* Collapse */
  
  .collapsible {
    border-color: rgba(191,191,191,0);
    padding: 20px 20px 20px 20px;
    background-color: #d64c22;
    box-shadow: 5px 0px 5px gray;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .collapsible:hover {
    background-color: #fe5722;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
    color: #e9e9e9e3;
  }
  
  .contentC {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    border-radius: 10px;
    transition: max-height 0.3s ease-out;
    box-shadow: 5px 5px 5px gray;
    background-color: #f1f1f1;
  }

/* Botoes curso houver */
  .bhouver{
    background-color: #fe5722;
  }
  
  .bhouver:hover{
    background-color: rgb(169, 55, 21);
  }


  @media only screen and (max-width: 750px) {
    .img-small {
      width: 88%;
    }
    
  }

  @media only screen and (min-width: 750px) {
    .img-small {
      width: 45%;
    }
    
  }

  @media only screen and (max-width: 750px) {
    .imgR-small {
      margin-top: 2%;
      width: 50%;
    }
    
  }

  @media only screen and (min-width: 750px) {
    .imgR-small {
      width: 22%;
    }
    
  }
  
