.hrH3{
    border-left: 5px solid #fe5722;
    padding-left: 10px;
    margin-left: 20px;
    line-height: 30px;
  }

.bold{
    font-weight: bold;
}

.bordas{
    border-radius: 10px;

    border-color: #fe55226b;

    box-shadow: 1px 1px 1px rgba(75, 75, 75, 0.501);
}

.alinhamento{
    margin-left: 10px;
}

.corTextos{
    color: rgb(75, 75, 75);
}

.bordaBotao{
    border-radius: 15px;

    box-shadow: 1px 1px 1px rgba(75, 75, 75, 0.501);
}